.text-error {
  color: rgb(199, 42, 42);
}
.btn-logout {
  padding: 7px 20px;
  margin-left: 10px;
  background-color: rgb(231, 186, 127);
}
.btn-logout:hover {
  background-color: rgb(233, 143, 25);
}
